@use "sass:list";
$base: 16;
@function scaled-sizes($base) {
    $scales: .25, .5, .75, 1, 1.5, 2, 3, 4, 6, 8, 10, 12, 16, 20, 28;
    $sizes: ();
    @each $scale in $scales {
        $sizes: list.append($sizes, $scale*$base);
    }
    @return $sizes;
}
$sizes: scaled-sizes($base);
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: 'system-ui';
}
h1 {
    font-size: #{list.nth($sizes, 8)}px;
}
h2 {
    font-size: #{list.nth($sizes, 7)}px;
}
h3 {
    font-size: #{list.nth($sizes, 6)}px;
}
h4 {
    font-size: #{list.nth($sizes, 5)}px;
}
h5 {
    font-size: #{list.nth($sizes, 4)}px;
}
h6 {
    font-size: #{list.nth($sizes, 4)}px;
}
p {
    font-size: #{list.nth($sizes, 4)}px;
}