@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;400;700&display=swap');

/* Breakpoints: 320, 480, 640, 960, 1200, 1400, 1600 */
/* Mobile First Tokens */
html {
  scroll-behavior: smooth;

  /* Views */
  --view-min: 320px;
  --view-xs: 480px;
  --view-sm: 640px;
  --view-md: 960px;
  --view-lg: 1200px;
  --view-xl: 1400px;
  --view-xxl: 1600px;
  --view-max: 2600px;

  /* Fonts */
  --font-family-default: 'Lato';
  --font-family-accent: 'Montserrat';
  --font-size-050: 0.563rem;
  --font-size-075: 0.75rem;
  --font-size-100: 1rem;
  --font-size-200: 1.333rem;
  --font-size-300: 1.777rem;
  --font-size-400: calc(2.369rem * 0.65);
  --font-size-500: calc(3.157rem * 0.65);
  --font-size-600: calc(4.209rem * 0.65);
  --font-size-700: calc(5.610rem * 0.65);
  --font-size-800: calc(7.478rem * 0.65);

  /* Sizes */
  --size-base: 8px;
  --size-025: calc(var(--size-base) * 0.25);
  --size-050: calc(var(--size-base) * 0.5);
  --size-075: calc(var(--size-base) * 0.75);
  --size-100: var(--size-base);
  --size-150: calc(var(--size-base) * 1.5);
  --size-200: calc(var(--size-base) * 2);
  --size-300: calc(var(--size-base) * 3);
  --size-400: calc(var(--size-base) * 4);
  --size-500: calc(var(--size-base) * 5);
  --size-600: calc(var(--size-base) * 6);
  --size-700: calc(var(--size-base) * 7);
  --size-800: calc(var(--size-base) * 8);
  --size-900: calc(var(--size-base) * 9);
  --size-1000: calc(var(--size-base) * 10);

  /* Colors */
  --color-gray-100: rgb(105, 105, 105);
  --color-gray-200: rgb(128, 128, 128);
  --color-gray-300: rgb(169, 169, 169);
  --color-gray-400: rgb(192, 192, 192);
  --color-gray-500: rgb(211, 211, 211);
  --color-gray-600: rgb(220, 220, 220);

  --color-white-100: rgba(255, 255, 255, 0.1);
  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-300: rgba(255, 255, 255, 0.3);
  --color-white-400: rgba(255, 255, 255, 0.4);
  --color-white-500: rgba(255, 255, 255, 0.5);
  --color-white-600: rgba(255, 255, 255, 0.6);
  --color-white-700: rgba(255, 255, 255, 0.7);
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-white-900: rgba(255, 255, 255, 0.9);

  --color-black-100: rgba(0, 0, 0, 0.1);
  --color-black-200: rgba(0, 0, 0, 0.2);
  --color-black-300: rgba(0, 0, 0, 0.3);
  --color-black-400: rgba(0, 0, 0, 0.4);
  --color-black-500: rgba(0, 0, 0, 0.5);
  --color-black-600: rgba(0, 0, 0, 0.6);
  --color-black-700: rgba(0, 0, 0, 0.7);
  --color-black-800: rgba(0, 0, 0, 0.8);
  --color-black-900: rgba(0, 0, 0, 0.9);

  --color-theme-1: #fffeec;
  --color-theme-2: #fbf9e1;
  --color-theme-3: #37392e;
  --color-theme-4: #19647e;
  --color-theme-5: #28afb0;

  --section-bg-1: #fbf9e1;
  --section-bg-2: #fffeec;
  --section-vertical-padding: var(--size-400);
  --section-horizontal-padding: var(--size-400);
  --section-padding: var(--section-vertical-padding) var(--section-horizontal-padding);
  --section-max-width: var(--view-xxl);
  /* Constants */
  --z-index-nav: 50;
}
/* Tablet */
@media screen and (min-width: 768px) {
  html {
    --font-size-400: calc(2.369rem * .8);
    --font-size-500: calc(3.157rem * .8);
    --font-size-600: calc(4.209rem * .8);
    --font-size-700: calc(5.610rem * .8);
    --font-size-800: calc(7.478rem * .8);
    --section-vertical-padding: var(--size-600);
    --section-horizontal-padding: var(--size-600);
  }
}
/* Desktop */
@media screen and (min-width: 1200px) {
  html {
    --font-size-400: 2.369rem;
    --font-size-500: 3.157rem;
    --font-size-600: 4.209rem;
    --font-size-700: 5.610rem;
    --font-size-800: 7.478rem;
    --section-vertical-padding: var(--size-700);
    --section-horizontal-padding: var(--size-700);
  }
}
/* Ultra Wide */
@media screen and (min-width: 1600px) {
  html {
    --section-vertical-padding: var(--size-1000);
    --section-horizontal-padding: var(--size-1000);
  }
}
